.orders{
    margin: 40px;
}
.button {
    cursor: pointer;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 1rem;
    /* display: flex;
    justify-content: space-around; */
    /* align-items: center; */
    border-radius: 25px;
    font-weight: bold;
    margin: 0 10px;
}

.button:hover,
.button:active {
    background-color: #2c0d00;
}